.header__button {
  visibility: hidden;
  @include reset-btn;
  grid-column-end: 4;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 20px;
  cursor: pointer;
  z-index: 1;

  &:hover {
    opacity: 0.6;
  }

}

@media screen and (max-width: 1023px) {
  .header__button {
    visibility: visible;
  }
}


@media screen and (max-width: 767) {
  .header__button {
    width: 20px;
  }
}
