.intro {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 94px;
  padding: 150px 0;
  border-bottom: 1px solid $text-color;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 70px 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}
