.about__list-head {
  @include reset-list;
  @include font(30px, 137%);
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .about__list-head {
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 40px;
  }
}
