.page__section {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .page__section {
    padding: 0 34px;
  }
}

@media screen and (max-width: 767px) {
  .page__section {
    padding: 0 20px;
  }
}
