.form__item {
  box-sizing: border-box;
  @include reset;
  border: 1px solid $text-color;
  background-color: transparent;
  display: block;
  @include font(9px, 200%);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: start;
  padding-left: 11px;

  &:focus {
    outline:none;
    &::placeholder {
      color: transparent;
    }
  }

  &::placeholder {
    @include font(9px, 200%);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
  }
}
