.form__item {
  box-sizing: border-box;
  @include reset;
  border: 1px solid $text-color;
  background-color: transparent;
  display: block;

  &:focus {
    outline-color:none;
  }

  &::placeholder {
    @include font(9px, 200%);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
    margin-left: 11px;
  }
}
