.footer__copyright {
  @include reset;
  @include font(13px, 100%);
  font-weight: normal;
  text-align: right;
  letter-spacing: 1px;
}

@media screen and(max-width: 767px) {
  .footer__copyright {
    margin-top: 20px;
    margin-left: 12px;
  }
}
