.header__btn-line {
  display: block;
  position: relative;
  width: 26px;
  height: 2px;
  background-color: $text-color;
  transition: .25s;

  &:first-of-type {
    top: -8px;
  }

  &:last-of-type {
    top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .header__btn-line {
    width: 20px;

    &:first-of-type {
      top: -6px;
    }

    &:last-of-type {
      top: 6px;
    }
  }
}

