.intro__title {
  @include reset;
  @include font(65px, 112%);
  font-weight: normal;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    margin-top: 26px;
    margin-bottom: 30px;
    font-size: 38px;
    line-height: 132%;
  }
}
