.press__link-btn {
  box-sizing: border-box;
  @include reset-btn;
  display: block;
  width: 110px;
  height: 52px;
  border: 1px solid $text-color;
  border-radius: 55px / 26px;
  @include font(19px, 52px);
  font-weight: normal;
  text-align: center;
  transition: .2s;

  &:hover {
    background: $text-color;
    color: $primary-color;
  }
}

@media screen and(max-width: 767px) {
  .press__link-btn  {
    width: 88px;
    height: 42px;
    font-size: 14px;
    line-height: 42px;
  }
}

