.intro__subtitle {
  @include reset;
  @include font(19px, 147%);
  text-align: center;
  text-transform: uppercase;


}

@media screen and (min-width: 1024px) {
  .intro__subtitle {
    &:last-of-type {
      margin-bottom: 60px;
    }
  }
}


@media screen and (max-width: 767px) {
  .intro__subtitle {
    font-size: 11px;
    line-height: 127%;
  }
}
