.about__text {
  padding: 40px 50px 45px 50px;
}

@media screen and (max-width: 1032px) {
  .about__text {
    grid-area: 1/1/2/3;
    border-bottom: 1px solid $text-color;
  }
}

@media screen and (max-width: 767px) {
  .about__text {
    grid-area: 1/1/2/2;
    border-bottom: 1px solid $text-color;
    padding: 20px;
  }
}
