.form__subtitle {
  @include reset;
  @include font(19px, 147%);
  font-weight: bold;
  padding-bottom: 64px;
}

@media screen and(max-width: 767px) {
  .form__subtitle {
    font-size: 14px;
    line-height: 100%;
    padding-bottom: 60px;
  }
}
