.about {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  border-bottom: 1px solid $text-color;
}

@media screen and (max-width: 1023px) {
  .about {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content;
  }
}

