.form__button {
  @include reset-btn;
  @include font(10px, 130%);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  grid-row-start: 2;
  border: 1px solid $text-color;
  background: $text-color;
  color: $primary-color;
  font-weight: bold;
}
