.intro__pic {
  grid-row: span 2;
  max-width: 100%;
  object-fit: contain;
  object-position: right center;
}

@media screen and (max-width: 1023px) {
  .intro__pic {
    margin-top: 100px;
    grid-row: 2/3;
    width: 700px;
  }
}
