.intro__pic {
  grid-area: pic;
  grid-row: span 1;
  max-width: 100%;
  object-fit: contain;
  object-position: right center;
}

@media screen and (max-width: 1023px) {
  .intro__pic {
    margin-top: 100px;
  }
}
